FORMAT: 1A
HOST: https://app.trayn.com/backend/rest

# Macro API 

## Main Resource [/s/macrocycle]
### List all plans [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "duration": 50
        }, {
          "id": 2, "duration": 26
        }]

### Create a new plan [POST]
+ Response 201 (application/json)

### Update properties of a plan [PUT]
+ Response 200 (application/json)

# Single plan [/s/macrocycle/{id}]
## Details for a specific plan [GET]
+ Response 200 (application/json)

        {
          "id": 1, "duration": 50
        }
        
## Delete a plan [DELETE]
Deletes a plan completely.
+ Response 204

# Group Planning Model
The planning model is used to initialize plan period and sub-periods in a macrocycle. References between the planning periods used in the macrocycle and the configuration from the planning model are not required.

## Planning Models [/s/planmodel]
### List [GET]
+ Response 200 (application/json)
### Create [POST]
+ Response 200 (application/json)

## Planning Model [/s/planmodel/{id}]
+ Parameters
    + id - ID of the planning model
### Read [GET]
+ Response 200 (application/json)
### Update [PUT]
+ Response 200 (application/json)
### Delete [DELETE]
+ Response 204

## Periods [/s/planmodel/{id}/period]
### List [GET]
+ Response 200 (application/json)
### Create [POST]
+ Response 200 (application/json)
## Period [/s/planmodel/{id}/period/{pId}]
### Read [GET]
+ Response 200 (application/json)
### Update [PUT]
+ Response 200 (application/json)
### Delete [DELETE]
+ Response 204

## Sub Periods [/s/planmodel/{id}/period/{pId}/subperiod]
### List [GET]
+ Response 200 (application/json)
### Create [POST]
+ Response 200 (application/json)
## Sub Period [/s/planmodel/{id}/period/{pId}/subperiod/{sId}]
### Read [GET]
+ Response 200 (application/json)
### Update [PUT]
+ Response 200 (application/json)
### Delete [DELETE]
+ Response 204